<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
  </startup>
  <appSettings>
    <add key="CommandTimeout" value="600"/>
    <add key="BarTenderExePath" value="C:\\Program Files\\Seagull\\BarTender Suite\\bartend.exe"/>
    <add key="Printers" value="Zebra Z4M,Zebra ZT410 (Spool)"/>
    <add key="Zebra Z4M" value="Zebra Z4M (203 dpi)"/>
    <add key="Zebra ZT410 (Spool)" value="Zebra ZT410 (203 dpi)"/>
    <add key="DisplayBatchCounter" value="! U1 setvar &quot;display.batch_counter&quot; &quot;enabled&quot;"/>
    <add key="A1" value="AngelProducts"/>
    <add key="CP1" value="CP1ManufacturedCartonLabelFmtPath"/>
    <add key="CP2" value="CP2BoughtInCartonLabelFmtPath"/>
    <add key="P1" value="P1BlowMouldCartonLabelFmtPath"/>
    <add key="P1b" value="P1BlankBMCartonLabelFmtPath"/>
    <add key="P2" value="P2InjectionMouldCartonLabelFmtPath"/>
    <add key="P3" value="P3BoughtInCartonLabelPath"/>
    <add key="P4" value="PlainCartonNoLogo"/>
    <add key="P5" value="09-YAT00101WCB,09-YAT00101WCC,09-YAT00101WCG,09-YAT00101WCLS,09-YAT00101WCO,09-YAT00101WCSG"/>
    <add key="P6" value="09-YAT00101WCB,09-YAT00101WCC,09-YAT00101WCG,09-YAT00101WCLS,09-YAT00101WCO,09-YAT00101WCSG"/>
    <add key="P7" value="KomatsuCartonLabelFmtPath"/>
    <add key="OtherLabelsGroup" value="P4,P5,P6,P7"/>
    <add key="Sizes" value="50x50,102x60"/>
    <add key="Grades" value="ST,FS,ME,MC"/>
    <add key="PastelCtnSizes" value="S,M,L,PAL"/>
    <add key="09-YAT00101WCB" value="/F=&quot;S:\ProgramFiles\Plasmo Pty Ltd\BarTender\[Size] Hortico Black.btw &quot;  /C=[n] /PRN=&quot;[Printer]&quot; /QP /X"/>
    <add key="09-YAT00101WCC" value="/F=&quot;S:\ProgramFiles\Plasmo Pty Ltd\BarTender\[Size] Hortico Charcoal.btw&quot;  /C=[n] /PRN=&quot;[Printer]&quot; /QP /X"/>
    <add key="09-YAT00101WCG" value="/F=&quot;S:\ProgramFiles\Plasmo Pty Ltd\BarTender\[Size] Hortico Green.btw &quot;  /C=[n] /PRN=&quot;[Printer]&quot; /QP /X"/>
    <add key="09-YAT00101WCLS" value="/F=&quot;S:\ProgramFiles\Plasmo Pty Ltd\BarTender\[Size] Hortico Sandstone.btw &quot;  /C=[n] /PRN=&quot;[Printer]&quot; /QP /X"/>
    <add key="09-YAT00101WCO" value="/F=&quot;S:\ProgramFiles\Plasmo Pty Ltd\BarTender\[Size] Hortico Olive.btw &quot;  /C=[n] /PRN=&quot;[Printer]&quot; /QP /X"/>
    <add key="09-YAT00101WCSG" value="/F=&quot;S:\ProgramFiles\Plasmo Pty Ltd\BarTender\[Size] Hortico Steel Grey.btw &quot;  /C=[n] /PRN=&quot;[Printer]&quot; /QP /X"/>
    <add key="P1BlowMouldCartonLabelFmtPath" value="/F=&quot;S:\ProgramFiles\Plasmo Pty Ltd\BarTender\[Printer]\P1BlowMouldCartonLabel.btw&quot;  /PRN=&quot;[Printer]&quot; /P /X"/>
    <add key="P1BlankBMCartonLabelFmtPath" value="/F=&quot;S:\ProgramFiles\Plasmo Pty Ltd\BarTender\[Printer]\P1BlankBMCartonLabel.btw&quot;  /PRN=&quot;[Printer]&quot; /P /X"/>
    <add key="CP1ManufacturedCartonLabelFmtPath" value="/F=&quot;S:\ProgramFiles\Plasmo Pty Ltd\BarTender\[Printer]\CP1ManufacturedCartonLabel.btw&quot; /PRN=&quot;[Printer]&quot; /P /X"/>
    <add key="CP2BoughtInCartonLabelFmtPath" value="/F=&quot;S:\ProgramFiles\Plasmo Pty Ltd\BarTender\[Printer]\CP2BoughtInCartonLabel.btw&quot; /PRN=&quot;[Printer]&quot; /P /X"/>
    <add key="AngelProducts" value="/F=&quot;S:\ProgramFiles\Plasmo Pty Ltd\BarTender\[Printer]\AngelProductsCartonLabel.btw&quot; /PRN=&quot;[Printer]&quot; /P /X"/>
    <add key="P2InjectionMouldCartonLabelFmtPath" value="/F=&quot;S:\ProgramFiles\Plasmo Pty Ltd\BarTender\[Printer]\P2InjectionMouldCartonLabel.btw&quot; /PRN=&quot;[Printer]&quot; /P /X"/>
    <add key="P3BoughtInCartonLabelPath" value="/F=&quot;S:\ProgramFiles\Plasmo Pty Ltd\BarTender\[Printer]\P3BoughtInCartonLabel.btw&quot; /PRN=&quot;[Printer]&quot;  /P /X"/>
    <add key="KomatsuCartonLabelFmtPath" value="/F=&quot;S:\ProgramFiles\Plasmo Pty Ltd\BarTender\KomatsuCartonLabel.btw&quot; /PRN=&quot;[Printer]&quot; /P /X"/>
    <add key="PlainCartonNoLogo" value="/F=&quot;S:\ProgramFiles\Plasmo Pty Ltd\BarTender\[Printer]\P4PlainCartonNoLogo.btw&quot; /PRN=&quot;[Printer]&quot; /P /X"/>
    <add key="P4PlainCartonPallet" value="/F=&quot;S:\ProgramFiles\Plasmo Pty Ltd\BarTender\[Printer]\P4PlainCartonPallet.btw&quot; /PRN=&quot;[Printer]&quot; /P /X"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="Angel BIN" value="S:\ProgramFiles\Plasmo Pty Ltd\Label Printing\images\AngelBIN.png"/>
    <add key="Angel MFG" value="S:\ProgramFiles\Plasmo Pty Ltd\Label Printing\images\AngelBIN.png"/>
    <add key="Angel Uncoded" value="S:\ProgramFiles\Plasmo Pty Ltd\Label Printing\images\AngelBIN.png"/>
    <add key="CP MFG-IM" value="S:\ProgramFiles\Plasmo Pty Ltd\Label Printing\images\CPMFG-IM.png"/>
    <add key="CP Uncoded IM" value="S:\ProgramFiles\Plasmo Pty Ltd\Label Printing\images\CPMFG-IM.png"/>
    <add key="CP BIN" value="S:\ProgramFiles\Plasmo Pty Ltd\Label Printing\images\CP-BIN.png"/>
    <add key="CP MFG-EX" value="S:\ProgramFiles\Plasmo Pty Ltd\Label Printing\images\CP-BIN.png"/>
    <add key="CP Uncoded EX" value="S:\ProgramFiles\Plasmo Pty Ltd\Label Printing\images\CP-BIN.png"/>
    <add key="Plasmo MFG-BM" value="S:\ProgramFiles\Plasmo Pty Ltd\Label Printing\images\Plasmo-BM.png"/>
    <add key="PlasmoUncoded BM" value="S:\ProgramFiles\Plasmo Pty Ltd\Label Printing\images\Plasmo-BM.png"/>
    <add key="Plasmo MFG-IM" value="S:\ProgramFiles\Plasmo Pty Ltd\Label Printing\images\PlasmoMFG-IM.png"/>
    <add key="Printing" value="S:\ProgramFiles\Plasmo Pty Ltd\Label Printing\images\PlasmoMFG-IM.png"/>
    <add key="Labelling" value="S:\ProgramFiles\Plasmo Pty Ltd\Label Printing\images\PlasmoMFG-IM.png"/>
    <add key="Assembly" value="S:\ProgramFiles\Plasmo Pty Ltd\Label Printing\images\PlasmoMFG-IM.png"/>
    <add key="PlasmoUncoded IM" value="S:\ProgramFiles\Plasmo Pty Ltd\Label Printing\images\PlasmoMFG-IM.png"/>
    <add key="Plasmo BIN" value="S:\ProgramFiles\Plasmo Pty Ltd\Label Printing\images\PlasmoBIN.png"/>
    <add key="PlasmoUncoded EX" value="S:\ProgramFiles\Plasmo Pty Ltd\Label Printing\images\PlasmoBIN.png"/>
    <add key="Plasmo Plain Customer" value="S:\ProgramFiles\Plasmo Pty Ltd\Label Printing\images\OtherP4.png"/>
    <add key="Plasmo Plain Agent" value="S:\ProgramFiles\Plasmo Pty Ltd\Label Printing\images\OtherP4.png"/>
    <add key="Other P5" value="S:\ProgramFiles\Plasmo Pty Ltd\Label Printing\images\OtherP5.png"/>
    <add key="Other P6" value="S:\ProgramFiles\Plasmo Pty Ltd\Label Printing\images\OtherP6.png"/>
    <add key="Other P7" value="S:\ProgramFiles\Plasmo Pty Ltd\Label Printing\images\OtherP7.png"/>
    <add key="Plasmo Plain BM" value="S:\ProgramFiles\Plasmo Pty Ltd\Label Printing\images\PlasmoBlankP1b.PNG"/>
    <add key="Plasmo Plain IM" value="S:\ProgramFiles\Plasmo Pty Ltd\Label Printing\images\OtherP4.png"/>        
  </appSettings>
  <connectionStrings>    
    <add name="DefaultPLASMO-SQL" connectionString="Data Source=PLASMO-SQL;Initial Catalog=BarTender;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Prod" connectionString="data source=PLASMO-DB-01;Initial Catalog=BarTender;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Home" connectionString="Data Source=DESKTOP-88VB602;Initial Catalog=BarTender;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Ashleigh" connectionString="Data Source=ADMIN6-PC\SQLEXPRESS;Initial Catalog=TestPlasmoProduct;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Default" connectionString="data source=PLASMO-DB-01;Initial Catalog=BarTender;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="DefaultDavidAllINONE" connectionString="data source=DAVIDALLINONE\SQLEXPRESS;Initial Catalog=BarTender;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="PriceEnquiryReports.Properties.Settings.DevPlasmoProductReports" connectionString="Data Source=DAVIDALLINONE;Initial Catalog=DevPlasmoProduct;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="CustomerPriceEnquiry.Properties.Settings.DevPlasmoProductConnectionString" connectionString="Data Source=DAVIDALLINONE;Initial Catalog=DevPlasmoProduct;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Admin" connectionString="Data Source=PLASMO-SQL;Initial Catalog=PlasmoAdmin;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings> 
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
